html >* {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}

table {
	border: solid 1px gray;
	margin: auto;
	width: 480px;
	height: auto;
	background: rgba(238, 238, 238, 0.2);
}
table button{
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	padding: 30px 10px;
	color: blue;
	
	background: -webkit-linear-gradient( #EEEEEE, #BBBBBB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #EEEEEE, #BBBBBB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #EEEEEE, #BBBBBB); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #EEEEEE, #BBBBBB); /* Standard syntax (must be last)*/
}

table button:hover {
        color: #666666;
        cursor:pointer;
    }

table tr td {
	border: solid 1px gray;
	width: 80px;
	height: 80px;
	padding: 4px;
}

table thead tr th {
	border: solid 1px gray;
	padding: 4px;
}

table thead th button{
	font-size: 30px;
	padding: 18px;
	border: solid 1px gray;
}

table .Google {
	width: 50%;
}

table .GitHub {
	width: 50%;
}

table .FB {
	width: 25%;
}

table .GMail {
	width: 25%;
}

table .YouTube {
	width: 25%;
}

table .food button{
	padding: 100px 0;
}

table .game button {
	padding: 100px 0;
}

#nested {
	width: 100%;
}

#nested td button{
	font-size: 16px;
	text-align: center;
	padding: 40px 0;
}

table .beer button{
	font-size: 35px;
	text-align: right;
	padding: 25px 5px;
}

table .wc button {
	padding: 35px 0;
}