/*------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------CSS-Reset-------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------End-of-CSS-Reset-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}


html body>* {
	margin: 0;
	padding: 0;
	font-family: Tahoma , sans-serif
}

header {
	width: 100%;
	height: 118px;
	background: #264769;
	color: white;
}

img {
	width: 100%;
}

#logo {
	width: 305px;
	float: left;
}

#content {
	float: right;
}

#bell {
	margin-top: 15px;
}

#bell .user {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

#bell .user:hover {
	color: orange;
	text-decoration: underline;
}

#bell img{
	width: 27px;
	height: 35px;
	vertical-align: middle;
	margin-right: 20px;
}

#bell .notifications {
	color: white;
	text-decoration: none;
	font-size: 15px;
	margin-left: 515px;
}

#bell .notifications:hover {
	color: orange;
	text-decoration: underline;
}

input {
	width: 262px;
	height: 36px;
	padding: 4px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-right: none;
	font-size: 15px;
}

button {
	width: 36px;
	height: 36px;
	background-image: url(../resources/search_01.PNG);
	padding-bottom: 12px;
	margin-left: -5px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-left: none;
}

button img {
	width: 35px;
	height: 36px;
}

#nav-bar ul {
	list-style-type: none;
}

#nav-bar ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 45px;
	text-transform: uppercase;
	padding: 10px 5px;
}

#nav-bar ul li:hover {
	background: orange;
	border-radius: 8px;
}

#nav-bar ul li a {
	color: white;
	text-decoration: none;
}

#nav-bar #courses, #nav-bar #about {
	background: #234465; 
    border: 1px solid #234465;    
    text-align: left; 
	padding-left: 20px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 0px;	
	position: absolute;
	top: 100%;
    width: 350px;
    margin-top: -550px;          
	display: none;
}

#nav-bar ul li:hover> #courses, #nav-bar ul li:hover> #about{
	display: block;
}

#nav-bar #courses li, #nav-bar #about li {
	display: block; 
	border-bottom: 1px solid #376587;
	border-radius: 0;
	text-transform: none;
}

#nav-bar ul #courses li:last-child, #nav-bar ul #about li:last-child {
	border-color: #234465;
}

#nav-bar ul ul li .title-nav {
	font-size: 15px;
	color: #4CA0DB !important;
}