html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html body>* {
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
}

body  {
	background: #F4F4F4;
}

header {
	width: 100%;
	height: 80px;
	background-image: url(../resources/background_03.PNG);
	background-repeat: repeat;
}

nav ul li {
	float: right;
	margin: 30px 110px;
	background: orange;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 13px;
}

nav ul :hover {
    background: #4EA5E3;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

section article {
	float: left;
	width: 28%;
	height: 380px;
	margin: 1%;
	margin-top: 4%;
	border: solid 1px white;
	box-shadow:1px 1px 5px gray;
	background: white;
	padding: 0 2em;
	line-height: 1.0em;
}

section {
	line-height: 1.3em;
}

section:nth-child(2) {
	margin-left: 10%;
}

#calendar:nth-child(2) h2{
	margin-bottom: 2.0em;
}

#summer:nth-child(3) h2{
	margin-bottom: 1em;
}

#feedback:nth-child(4) h2{
	margin-bottom: 1em;
}

section p {
	margin-top: 4%;
	margin-bottom: -2%;
	margin-left: 1%;
	font-size: 1.3em;
	color: #264769;
}

h2 {
	text-align: left;
	text-transform: uppercase;
	padding-top: 2.0em;
	font-size: 0.8em;
	color: #264769;
	font-weight: bold;
}

section span {
	font-size: 0.7em;
	color: #264769;
}

 section .date {
	font-size: 0.9em;
	float: right;
	margin-top: 0.8em;
}

article img {
	margin-left: 5.0em;
	margin-bottom: 1.0em;
	margin-top: 2.0em;
}

#summer img, #feedback img {
	margin-left: 0.1em;
}

.tags {
	color: gray;
}

 .tags>.bold {
	font-weight: bold;
	font-size: 1.1em; 
}

hr {
	margin-bottom: 1.0em;
}

#calendar hr {
	margin-top: 1.0em; 
}

#summer hr {
	margin-top: 2.4em;
}

#feedback hr {
	margin-top: 1.5em;
}

footer {
	width: 100%;
}

footer ul {
	float: left;
	margin-left: 10em;
	margin-top: 3em;
	list-style-type: none;
}

footer ul li {
	float: left;
	width: 30px;
	height: 30px;
	background: #4EA5E3;
	margin-right: 0.2em;
	text-align: center;
	padding: 0.4em;
}

footer ul li a {
	font-size: 12px;
	color: white;
	text-decoration: none;
}

footer ul li:hover {
	background: orange;
}