html body>* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 23px;
}

#wrapper {
	width: 55%;
	height: 500px;
	margin: auto;
	line-height: 100px;
}

h1 {
	font-size: 89px;
	color: #4A4A4A;
	font-family: Ariele;
	text-align: center;
}

h1 span {
	color: #1F7A9F;
}

#logo {
	position: absolute;
	left: 326px;
	top: 41px;

}

label {
	margin-left: 30px;
}

input[type="file"] {
	font-size: 22px;
	width: 400px;
	height: 30px;
}

input[type="search"] {
	width: 315px;
	height: 60px;
	float: right;
	margin-bottom: 20px;
	margin-right: 155px;
	font-size: 20px;
	padding-left: 10px;
}

button {
	width: 74px;
	height: 74px;
	background-image: url(../resources/wordpress-button.PNG);
	background-repeat: no-repeat;
	border-radius: 50%;
	float: right;
	margin-right: 70px;
	margin-top: -110px;
	border: none;
}

a {
	font-size: 14px;
}